.filter__name{

    
    padding: 2em 0 3em;
    width: 100%;
    display: flex;
    justify-content: center;
  
 
}

.filter__name__input {
    padding: 0 1em;
    font-weight: 500;
    border: 1px solid #aaaa;
    height: 3em;
    font-size: 1rem;

}
.filter__name__input:focus{
    font-size: 2rem;
    color:#fa4040;

}

.filter__name__btn {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    width: 7em;
    height: 3em;
    border: none;
    background-color: #fa4040;
    color: white;
    
    
}